{% load static %}
<!-- Footer here -->
<footer class="blue page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contáctanos</h5> <img src="{% static 'img/logo.png' %}" alt="logo-dapoxetina" width="200">
        <p class="grey-text text-lighten-4">Puedes visitarnos en las redes sociales, enviar un mensaje desde la pagina web o contactarnos via Whatsapp: +569 59911545.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Redes Sociales</h5>
        <ul>
          <li><a class="black-text text-lighten-3" href="#!"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a class="black-text text-lighten-3" href="#!"><i class="fa fa-facebook" aria-hidden="true"></i>
            </a></li>
          <li><a class="black-text text-lighten-3" href="#!"><i class="fa fa-whatsapp" aria-hidden="true"></i>
            </a></li>
          <li><a class="black-text text-lighten-3" href="#!"><i class="fa fa-youtube" aria-hidden="true"></i>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020 Copyright Dapoxetina-store
    </div>
  </div>
</footer>
