{% load static %}
  <!-- Header Content here -->
  <header>
    <div class="navbar-fixed">
      <nav class="white z-depth-4 animate__animated  animate__fadeIn">
        <div class="nav-wrapper">
          <!-- Logo -->
          <a href="../Layout/index.html" class="brand-logo">
            <img src="{% static 'img/logo.png' %}" alt="Dapoxetina-Logo" width="100">
          </a>
          <!-- Menu Content -->
          <ul class="right hide-on-med-and-down ul-navbar " style="padding:30px;">
            <a class="btn-floating btn-large red pulse"><span class=" black-text material-icons">
                pan_tool
              </span></a>
            <li>
              <a href="#" class="black-text  pulse">Politica y Privacidad</a>
            </li>
            {% if request.user.is_superuser %}
                <li <span class="black-text">{{ request.user.username }}</span></li>
                <li><a href="{% url 'managment:admin_home' %}" class="black-text">Admin Site</a></li>
                <a href="{% url 'managment:admin_logout' %}">
                  Cerrar Sesion
                </a>
            {% elif request.user.is_authenticated and request.user.is_superuser == False %}
                <li><a href="{% url 'managment:admin_home' %}" class="black-text">{{ request.user.username }}</a></li>
                <a href="{% url 'managment:admin_logout' %}">
                  Cerrar Sesion
                </a>
            {% else %}
                <li><a href="../Layout/login.html" class="black-text">Login / Register</a></li>
            {% endif %}
            <li><a href="#" class="black-text" onclick="myFunction();"><span class="material-icons">
                  add_shopping_cart
                </span></a></li>
            <div class="carrito-content">
              <div id="myDIV">
                Este elemento aparece y desaparece con el boton
                <a href="../Layout/pago.html" class="black-text btn ">Finalizar Compra</a>
              </div>

            </div>

          </ul>

          <ul class="right hide-on-med-and-down ul-navbar " style="padding:30px;">
            <li><a href="../Layout/productos.html" class="black-text">Productos</a></li>

            <li><a href="../Layout/contacto.html" class="black-text">Contacto</a></li>
          </ul>
          <!-- menu nav -->
          <a href="#" class="home-link"><i class="black-text large material-icons icon center">home</i></a>
        </div>
      </nav>
    </div>
  </header>
